#orders{
    background-color: #eee;
    height: 100%;
}
#orders .fa-trash-alt{
    color: #3F51B5;
    font-size: 1.6em;
    cursor: pointer;
}
#orders h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}
#orders thead{
    background-color: #6c757d;
}
#orders input{
    /* padding: 5%; */
    margin-top: 7px;
    background-color:white;
    /* width:100%; */
}
/* #orders Button{
    margin-top: 5%;
    width: 100%;
    align-content: center;
    background-color: #152036;
    border: none;
} */
a{
    color: white;
}
a:hover{
    text-decoration-line: none;
    color: white;
}
ListItemIcon{
    color: white;
}
/* my css */
.tabeldiv{
    background-color: #eee;
    height: 100%;
}


@media only screen and (max-Width : 1100px)
{
    .tabeldiv{
        width: 720px;
    }
}
@media only screen and (max-Width : 768px)
{
    .tabeldiv{
        width: 420px;
        
        margin-left: 2%;
        
    }
    #orders Button{

        width: 30%;
     
    }
}


