/* start of style of contact body  */
#contact-us-style .contact-Nav-bg {
    min-height: 350px;
    background-position: 0% 0%;
    width:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
  }
#contact-us-style{
    background-color:#eee;
    text-align: center;
}
/* End of style of contact body  */
/* Start of styleo of Contact Us Heading */
#contact-us-style h1{
    font-size:2.4em;
    font-weight:400;
    background-color:#152036;
    color:white;
    width:100%;
    text-align: center;
    height: 3em;
    vertical-align: middle;
    line-height: 2.6em;
}
/* End of styleo of Contact Us Heading */

.hrstyle{
    
    width:100%;
}
/* Start of style of contact form */
#contact-us-style .contact-style .containerimg{
    width: 100%;
    height:900px;
    background-size: 100%;
    background-repeat: no-repeat;
}
#contact-us-style .contact-style .contactRow{
    margin-top: -83%;
    margin-left: 5%;
}
#contact-us-style .contact-style .form-col-style{
    font-size:2em;
}
#contact-us-style .contact-style .form-col-style h4{
    color: white;
    font-size: 1.6em;
}
#contact-us-style .contact-style .form-col-style input{
    width:100%;
    padding:3%;
    /* background: transparent; */
}
#contact-us-style input,textarea{
    background-color:#eee;
    border: 1px solid grey;
    color: black;
    margin-top: 5%;
    box-sizing:border-box;
    display: block;
    border-radius:0;
    font-size: 0.6em;
}
#contact-us-style textarea{
    /* background: transparent; */
    
}
#contact-us-style input:focus,textarea:focus{
    /* outline:none; */
}
#contact-us-style textarea{
    width:100%;
}
#contact-us-style form Button{
    background-color: #152036;
    width:100px;
    border: none;
}
/* End of style of contact form */
/* Start of style of map style */
#contact-us-style .map-style{
    width:75%;
    margin-top: -10%;
    margin-left: 8%;
    height: 300px;
}
/* End of style of map style */
/* Start of style of contact info above the MAP */
#contact-us-style .contact-info{
    margin-top: 165px;
    background-color: rgb(19, 129, 231);
    font-size:1.6em;
    font-weight: 400;
    height: 260px;
}
#contactUslist li{
    text-align: justify;
}
#contactUslist .contactUsListIcon{
font-size: 1em;
margin-left: 5%;
text-align: left;
    
}
#contactUslist span{
    font-size:0.6em;
margin-left: 15%;
text-align: justify;
color: white;

}
/* Social Icon Colors */
#contact-us-style .contact-info .locationIcon{
/* margin-left: -1%; */
color:red;
}
#contact-us-style .contact-info .phoneIcon{
    margin-left: 3%;
    color:green;
}
#contact-us-style .contact-info .whatsappIcon{
    margin-left: 3%;
    color:#25D366;
}
#contact-us-style .contact-info .facebookIcon{
    color:#3b5998 ;
}
#contact-us-style .contact-info .gmailIcon{
    margin-left: 2%;
    color:red;    
}
/* End of style of contact info above the MAP */

@media only screen and (max-width:1199px) and (min-width:993px){
    #contact-us-style .contact-style .containerimg{
        width: 100%;
        height:970px;
        background-repeat: no-repeat;
    }
    #contact-us-style .contact-style .contactRow{
    margin-left: 0%;
    margin-top: -100%;
    }
    
}
@media (max-width:992px) and (min-width:768px){
    #contact-us-style .contact-style .containerimg{
        width: 100%;
        height:1270px;
        background-repeat: no-repeat;
    }
    #contact-us-style .contact-style .contactRow{
    margin-left: 0%;
    margin-top: -1373px;    
    }
    #contact-us-style .map-style{
        margin-left: 12%;
    }
}
@media (max-width:768px) and (min-width:576px){
    #contact-us-style .contact-style .containerimg{
        width: 100%;
        height:1270px;
        background-repeat: no-repeat;
    }
    #contact-us-style .contact-style .contactRow{
        margin-top: -1373px;        
        margin-left:0%;
    }
    #contact-us-style .map-style{
        margin-left: 10%;
    }
}
@media (max-width:575px) and (min-width:280px) {
    #contact-us-style .contact-style .containerimg{
        width: 100%;
        height:1250px;
        background-repeat: no-repeat;
    }
    #contact-us-style .contact-style .contactRow{
        margin-top: -1364px;
        margin-left:0%;
    }
    #contact-us-style .contact-style .form-col-style h4{
        color: white;
        font-size: 1em;
    }
    #contact-us-style .map-style{
        margin-left: 11%;
    }
}