#mechanicHhome{
    background-color: #eee;
}
#mechanicHhome{
    height:100%;
}
#mechanicHhome Button{
    width: 30%;
    background-color: #152036;
    border: none;
}
#SideProfileImg{
    width: 100px;
    border: 2px solid #3F51B5;
    border-radius: 100%;
    margin-top: -15%;
    margin-left: 25%;
    height:100px;
}
.mechaniclogoutIcon{
    margin-left:70%;
    cursor: pointer;
}
.mechanicappBarHeading{
    color:white;
}
@media only screen and (max-width: 768px){
    .mechaniclogoutIcon{
        margin-left:40%;
        font-size:1em;
    }
    .mechanicappBarHeading{
        font-size:1.4em;
    }
}