#adminServiceComponent{
    background-color: #eee;
}
#adminServiceComponent h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}
#adminServiceComponent Form{
    padding: 5%;
    /* border: 24px solid rgb(131, 130, 130); */
}
#adminServiceComponent input{
    padding:5%;
    width:100%;
    background:#FFF;
}
#adminServiceComponent select:focus,input:focus{
    outline: none;
}
#adminServiceComponent select{
    padding:5%;
    width:100%;
    background:#FFF;
}
#adminServiceComponent Button{
    width: 100%;
    background-color:#152036;
    border:none;
}
.pricesesdiv{
    background-color: #eee;
    height: 100%;
}

#adminServiceComponent .columnRow {
    direction:vertical;
    border: 0.9px red;
    height: 560px;
}
@media only screen and (max-width:800px){
    #adminServiceComponent .columnRow {
        display: none;
    }
}
@media only screen and (max-Width : 1280px)
{
    .pricesesdiv{
        width: 890px;
    }
}

@media only screen and (max-Width : 990px)
{
    .pricesesdiv{
        width: 520px;
    }
}
@media only screen and (max-Width : 768px)
{
    .pricesesdiv{
        width: 420px;
        
        margin-left: 2%;
        
    }
}


