/* .customer-dashboard{
    background-color:#eee;
}
.customer-dashboard .dashboard-topBar{
    background-color: #0966C6;
    color: white;
    text-align: center;
    width:101%;
}
.customer-dashboard .dashboard-topBar ul li{
    display: inline;
}
.customer-dashboard .sideNavactionBtn{
    float: left;
    font-size:2em;
    cursor: pointer;
    list-style-type: none;
    padding-left: 20%;
}
.customer-dashboard .side-nav{
    background-color: #152036 ;
    width: 0%;
}
.customer-dashboard .side-nav ul li{
    text-align: left;
    color: white;
    cursor: pointer;
    display:block;
    line-height: 2.5em;
    font-size:1.4em;
    }
    .customer-dashboard .loggedUserImg{
        padding-left: 40%;
    }
    .logOut{
        float: right;
        padding-top: 2%;
    }
.dashboard-topBar .dropdown-menu{
    background-color: #0e1a35;
    color: white;
    width: 10%;
    z-index: 50;
}
.customer-dashboard .side-nav ul li:hover{
    color: white;
}
.customer-dashboard .side-nav a:hover{
    text-decoration-line: none;
}
.customer-dashboard .hideNavText{
    display: inline-flex;
}
@media only screen and  (max-width: 1024px){                                                        
    .customer-dashboard .hideNavText{
        display: none;
    }
}
.customer-dashboard .loggedUserProfile{
    height:150px;
    width: 100%;
}
.customer-dashboard .logdedUserImg{
    width: 50%;
    border: 1px solid yellow;
    border-radius: 100%;
    margin-left: 25%;
    height:100px;
}
.customer-dashboard .loggedUserName{
    text-align: center;
    color:white;
    font-size:1em;
}
.customer-dashboard .TopBarLogo{
    width:150px;
    height:70px;
}
.customer-dashboard .mechanicInfo-update-btn{
    margin-left: 90%;
}
#service{
    padding:15px;
}
.customer-dashboard .signUpForm{
    background-color:#eee;
    padding:5%;
    border: 24px groove rgb(131, 130, 130);
}
.customer-dashboard h5{
    color: white;
    font-size: 2em;
    text-align: center;
    background-color:black;
    height:2em;
    padding-top: 0.3em;
}
.customer-dashboard .customer-order-btn{
    width: 100%;
} */