#mechanicTasks h3{
text-align: center;
}
#mechanicTasks Table thead{
    background-color:#6c757d;
}
#mechanicTasks h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 80%;
    margin-left: 10%;
    padding-top: 1em;
    text-align: center;
}
#mechanicTasks{
    background-color:#eee;
    height: 100%;
}
#mechanicTasks .fa-check-circle{
    color: red;
    font-size:2em;
    text-align: center;
    margin-top:5%;
    margin-left:15%;
}
#mechanicTasks #completedOrder{
    color: green;
    font-size:2em;
    text-align: center;
    margin-top:5%;
    margin-left:15%;
}
/* @media only screen and (max-Width : 1280px)
{
    .MtaskDiv{
        width: 890px;
    }
} */

@media only screen and (max-Width : 990px)
{
    .MtaskDiv{
        width: 580px;
    }
}
@media only screen and (max-Width : 768px)
{
    .MtaskDiv{
        width: 420px;
        
        margin-left: 3%;
        
    }
}
