#whyUs{
  background-image:url('../../../images/back.png');
  background-position: center;
  background-size: cover;
  color:#404040;
  height: 768px;
}
#whyUs h1{
  padding-top: 30px;
  text-align: center;
  color:white;
}
#whyUs img{
  width:25%;
  vertical-align: middle;
}
#whyUs ul li{
  color:#00cbcb;
  font-size:1em;
  padding-left: 18%;
  line-height: 2.6em;
}
#whyUs h5{
  color:white;
  font-size: 1.6em;
  display: block;
  font-weight: 400;
  margin-left: 30%;
  text-align: center;
}
#whyUs .fa-greater-than{
  font-size: 12px;
}
#whyUs .whyusRow{

  padding-top: 50px;

}
@media (max-width: 1024px) and (min-width:280px)
{
  #whyUs{
    background-image:url('../../../images/back.png');
    background-position: center;
    background-size: cover;
    color:#404040;
    height: 768px;
  }
  #whyUs img{
    /* display: none; */
    width:10%;
    height:5%;
  }
  #whyUs h1{
    padding-top: 30px;
    text-align: center;
    color:white;
    font-size: 1.4em;
  }
  #whyUs ul li{
    font-size: 0.8em
  }
  #whyUs h5{
    font-size: 1.2em
  }
  #whyUs{
    height: 100%;
  }

}
