#homeCarousel .provideHeading{
  padding-top: 70px;
    text-align: center;
    font-size:2em;
  }
  #homeCarousel .provideServiceHeading{
    padding-top: 50px;
    color: #0087cc;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
  }
  #homeCarousel .carouselImage{
    padding-top: 80px;
    width:80%;
    height: 18.2em;
  }
  #homeCarousel .subServiceHeading{
    color: black;
    font-size:1.2em;
    font-weight: bold;
  }
  #homeCarousel p{
    font-size: 1em;
    text-align: justify;
  }
  #homeCarouselt  .readMoreBtn{
    width: 20%;
    margin-left: 40%;
      background-color: #152036;
      border: none;
  }
  .mycarousel
  {
    height: 480px;
  }
  @media only screen and (max-width : 768px)
  {
    .mycarousel
    {
      height: 250px;
    }
    #homeCarousel .provideHeading{
      padding-top: 0px;
      font-size: 1em;
    }
    #homeCarousel .provideServiceHeading{
      padding-top: 0px;
      font-size: .6em;
    }
    #homeCarousel .subServiceHeading{
      font-size: .5em;
    }
    #homeCarousel p{
      font-size: .4em;
    }
    #homeCarousel .carouselImage{
      padding-top: 0px;
      height: 12em;
      margin-left: 40px;
    }
  }