.image{ 
    
  padding-right: 10px;
  width: 175px;
  height: 50px;
}
.navbar{
background-color:  rgba(255, 255, 255, 0.3);

}
.navspace{
  padding-left: 580px;   
}
@media only screen and  (max-width: 768px){
  .navspace{
    padding-left: 0px;
    
  }
}
.navlink:hover{

  color: blue;
  text-decoration-line: none;
}
.dropdown-menu{
  width: 210px;
  background-color: white;   
  box-sizing: border-box;
  border-radius: 0%;
}
.dropdown-menu a:hover{
  background-color: #81d4fa;
  border-left: 5px solid #007BFF;
}
.dropdown:hover{
  display: block; 

}
.navpad{
    color:  #77C9D4;
} 
/* .Mdiv
{
  background-color: #77C9D4;
 
} */

.navlink{

  color:  black; 
  font-weight: bold;
 padding-left: 0px;
}
.navlink:focus{
  padding-bottom: 10px;
  border-bottom: 2px solid #77C9D4;
}
@media only screen and (max-width: 768px)
{
  .navlink:focus{
    padding-bottom: 0px;
    border-bottom: 0px solid #77C9D4;
  }
}
.dropdown-toggle
{
  color:  black;
  font-weight: bold;
  
}
h5{
  color: black;
  float: left;
}

#navbarDropdown{

  color: Black;
 
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
 }
