
#feedBack .owl-images{
    /* padding-top: 200px; */
    height: 8em;
    width: 100%;
    border-radius: 100%;
  }
  #feedBack .owl-text{
  text-align: center;
  color: #05164D;
  font-size: 16px;
  font-weight: bold;
  }
  
  #feedBack .service-compnent-heading{
    text-align: center;
    font-size: 1.4em;
    color: #05164D;
    font-weight: 700;
  }
  #feedBack>hr{
    border: 1px solid #05164D;
    width: 10em;
  }
  #feedBack>.owl-carousel-back{
    height: 570px;
    background-color: white;
  }
  #feedBack>.owl-theme{
    padding-top: 100px;
  }
  @media only screen and (max-width:768px){
    #feedBack{
      display: none;
     }
  }