#adminHome{
    background-color: #eee;
    height: 100%;
}
#adminHome h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}
#adminHome h6{
    height: 3em;
    margin-left: 25%;
    font-size: 1.4em;
    font-weight: 600;
}
#adminHome h4{
    line-height: 2em;
    margin-left: 35%;
    padding-left: 5%;    
}
#adminHome .dashboard-icon-row{
    margin-left:9%;
}
#adminHome .dashboard-icon-div{
    border-radius:100%;
    width:100px;
    height:100px;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
    font-size:3em;
    color: white;
}
.logoutIcon{
    margin-left:76%;
    cursor: pointer;
}
.appBarHeading{
    color:white;
}
@media only screen and (max-width: 768px){
    .logoutIcon{
        margin-left:40%;
        font-size:1em;
    }
    .appBarHeading{
        font-size:1.4em;
    }
}
@media only screen and (max-width: 768px){
    #adminHome h4{
        line-height: 2em;
        margin-left: 43%;   
    }
    #adminHome .dashboard-icon-div{
        padding-left: 2%;
        margin-left: 40%;
        text-align: center;
        font-size:3em;
        color: white;
    }
    #adminHome h6{
        margin-left: 40%;
    }
}
#adminHome .visit-icon{
    padding-top:0.6em;
    padding-left: 9%;
    background-color:#32D088;
}
#adminHome .servies-icon{
    padding-top:0.6em;
    background-color:#32CEE4;
}
#adminHome .mechanic-icon{
    padding-top:0.6em;
    background-color:#FB6E51;
}
#adminHome .comments-icon{
    padding-top:0.6em;
    padding-left: 10%;
    background-color:#F5B252;
}
 a{
     color: white;
 }
 a:hover{
     text-decoration-line: none;
     color: white;
 }
 ListItemIcon{
     color: white;
 }
 #homeIcon{
     font-size: 15px;
     margin-left: -20%;
     margin-top: -40%;
     margin-bottom: 0%;
 }