.owl-images{
  /* padding-top: 200px; */
  height: 8em;
  width: 0.6em;
  border-radius: 100%;
}
.owl-text{
text-align: center;
color: #05164D;
font-size: 16px;
font-weight: bold;
}
@media only screen and (max-width:768px){
  .owl-hide{
    display: none;
  }
}
.service-compnent-heading{
  text-align: center;
  font-size: 1.4em;
  color: #05164D;
  font-weight: 700;
}
hr{
  border: 1px solid #05164D;
  width: 10em;
}
.owl-carousel-back{
  height: 570px;
  background-color: #77C9D4;
}
.owl-theme{
  padding-top: 100px;
}