/* .modal-style{
    
} */
.modal-style h3{
    color: white;
    width:100%;
} 
.modal-style .sign-modal-style{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border: none;
}
.modal-style .signInLogo{
    width: 80%;
    height: 100%;
    float: right;
}
.modal-style .sign-modal-style input{
padding: 0.3em;
}
/* .signInFormStyle{
    background-color: #17223D;
} */
#showpwd:hover{
    text-decoration-line: underline;
    color: blue;
}
.modal-style .signInFormStyle input{
    background-color: transparent;
    color: white;
    width:100%;
    border: none;
    outline:none;
    border-bottom:1px solid white;
}
.modal-style .signInBtn{
    width:100%;
}
.modal-style #signUpwithGoogle{
width:100%;
background-color:#d73d32;
color: #fff;
    font-size: 1em;
    border:none;
    outline:none;
}
#resetfield-icon {
    font-size: 1.2em;
    padding-top: 15px;
    margin-left: -10%;
    position: absolute;
    color: black;
    cursor: pointer;
    
  }
.modal-style #signUpWithFacebook{
width:100%;
background-color: #3f5c9a;
    color: #fff;
    font-size: 1em;
}
#resetclose{
    width: 100%;
    background-color: #d73d32;
    color: #fff;
    font-size: 1em;
}
