#adminCustomerInfo{
    background-color: #eee;
    height: 112vh;
}
#adminCustomerInfo h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}
#adminCustomerInfo h2{
    margin-left: 5%;
    margin-top: 3%;
}
#adminCustomerInfo Table{
    width: 100%;
}
#adminCustomerInfo th{
    font-size:0.9em;
}
#adminCustomerInfo thead{
    background-color: #6c757d;
}
#adminCustomerInfo input,select{
    padding: 5%;
    background-color:white;
    width:100%;
}
/* #adminCustomerInfo Button{

    width: 50%;
    align-content: center;
    margin-top: 5%;
    background-color: #152036;
    border: none;
} */
#adminCustomerInfo select{
    background-color:white;
    padding:5%;
}
.Customerinfodiv{
    background-color: #eee;
    height: 100%;
}


@media only screen and (max-Width : 890px)
{
    .Customerinfodiv{
        width: 480px;
    }
}
@media only screen and (max-Width : 768px)
{
    .Customerinfodiv{
        width: 420px;
        
        margin-left: 2%;
        
    }
}

