#mechanicServices input,select{
    padding: 3%;
}
#mechanicServices h1{
    background-color:white;
    font-size: 1.6em;
    height:3.5em;
    width: 80%;
    margin-left: 10%;
    padding-top: 1em;
    text-align: center;
}
#mechanicServices select{
    padding: 3%;
}
#mechanicServices Table thead{
    background-color:#6c757d;
    width: 100%;
}
#mechanicServices{
    background-color:#eee;
    height: 100%;
}